/* FULL PAGE */
body {
  font-family: Helvetica;
  text-align: center;
}
/* HEADER */
.header-main {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.site-navigation {
  font-size: 18px;
  color: white;
}
h5 {
  font-size: 18px;
  color: white;
}
#Header {
  background-image: url('../Resources/the-flatiron-building-2.png');
}

/* MAIN BODY */
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('../Resources/the-flatiron-building.png');
}

#Footer {
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}
